<div class="text-center">
  <h2>Company Name: {{company_name}}</h2>
  <p>Hours per week{{{hoursPerWeek}}}</p>
  <p>hourly rate {{hourlyRate}}</p>
  <p>Current week {{currentWeek}} </p>
  
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  
</div>
